ENV=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=service_assistant

AZURE_OPENAI_ENDPOINT=https://service-assistant-azure.openai.azure.com/
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT=text-embedding-3-small
AZURE_OPENAI_API_VERSION=2024-12-01-preview
OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_API_KEY=
ATTACHMENTS_DIR=/attachments
AUTH_TOKEN=CHANGEMELATER
DEEPGRAM_API_KEY=
