ENV=development

DATABASE_URL=postgresql+psycopg://postgres@host.docker.internal:5432/service_assistant_dev

ATTACHMENTS_DIR=/attachments
AUTH_TOKEN=CHANGEMELATER

AZURE_OPENAI_ENDPOINT=https://service-assistant-azure.openai.azure.com/
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT=text-embedding-3-small
AZURE_OPENAI_API_VERSION=2024-12-01-preview

OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_API_KEY=

GEMINI_API_KEY=
GEMINI_TTS_MODEL=gemini-2.5-flash-preview-tts
GEMINI_TTS_VOICE=Algenib

DEEPGRAM_API_KEY=

AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=https://mc-fixo-azure-ocr.cognitiveservices.azure.com/
AZURE_DOCUMENT_INTELLIGENCE_KEY=

DOCKER_SUBNET=172.28.0.0/16
DOCKER_GATEWAY=172.28.0.1 # host-gateway
PORT=8000
